<div class="card l">
    <h1>Ejemplo de formulario template driven (menos utilizada)</h1>
    <hr>
    <form #formCliente>
        <div class="input-row">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" ngModel #nombre>
        </div>
        <div class="input-row">
            <label for="cif">CIF</label>
            <input type="text" id="cif" ngModel #cif>
        </div>
        <div class="input-row">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" ngModel #email>
        </div>
        <div class="buttons-row">
            <button type="submit">Añadir</button>
        </div>
    </form>
</div>